name:
    'ninja'
irc:
    server:
        'irc.example.local'
    rooms:
        '#room1'
    nick:
        'ninja'
    unflood:
        'false'
slack:
    token:
        'your-slack-token'
    team:
        'your-team'
    user:
        'your-user-name'
